USE [master]
GO
/****** Object:  Database [KidSeek]    Script Date: 19/05/2025 13:45:27 ******/
CREATE DATABASE [KidSeek]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'KidSeek', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\KidSeek.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'KidSeek_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\KidSeek_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KidSeek].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KidSeek]
GO
/****** Object:  Table [dbo].[Assignments]    Script Date: 19/05/2025 13:45:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Assignments](
	[AssignmentId] [int] IDENTITY(1,1) NOT NULL,
	[SubjectId] [int] NULL,
	[UserId] [int] NULL,
	[Title] [nvarchar](255) NULL,
	[Description] [text] NULL,
	[DueDate] [datetime] NULL,
	[Status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[AssignmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChatResults]    Script Date: 19/05/2025 13:45:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChatResults](
	[ChatResultId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[SubjectId] [int] NOT NULL,
	[Prompt] [nvarchar](max) NULL,
	[AiResponse] [nvarchar](max) NULL,
	[AiFeedback] [nvarchar](max) NULL,
	[Questions] [nvarchar](max) NULL,
	[Score] [float] NULL,
	[Comment] [nvarchar](max) NULL,
	[IsGraded] [bit] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ChatResultId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lectures]    Script Date: 19/05/2025 13:45:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lectures](
	[LectureId] [int] IDENTITY(1,1) NOT NULL,
	[SubjectId] [int] NULL,
	[Title] [nvarchar](255) NULL,
	[Content] [text] NULL,
	[VideoURL] [nvarchar](255) NULL,
	[QuizId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[LectureId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Messages]    Script Date: 19/05/2025 13:45:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Messages](
	[MessageId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[Role] [nvarchar](50) NULL,
	[Content] [text] NULL,
	[SentAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MessageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Practices]    Script Date: 19/05/2025 13:45:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Practices](
	[PracticeId] [int] IDENTITY(1,1) NOT NULL,
	[SubjectId] [int] NULL,
	[Question] [text] NULL,
	[Answer] [nvarchar](255) NULL,
	[Explanation] [text] NULL,
	[Type] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[PracticeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subjects]    Script Date: 19/05/2025 13:45:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subjects](
	[SubjectId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NULL,
	[Description] [nvarchar](max) NULL,
	[Image] [nvarchar](255) NULL,
	[Grade] [int] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[SubjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subscriptions]    Script Date: 19/05/2025 13:45:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subscriptions](
	[SubscriptionId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[PackageName] [nvarchar](255) NULL,
	[Price] [float] NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[Status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[SubscriptionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 19/05/2025 13:45:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](100) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[Email] [nvarchar](255) NULL,
	[Role] [nvarchar](50) NULL,
	[Fullname] [nvarchar](100) NULL,
	[Age] [int] NULL,
	[Grade] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Assignments] ON 

INSERT [dbo].[Assignments] ([AssignmentId], [SubjectId], [UserId], [Title], [Description], [DueDate], [Status]) VALUES (1, 1, 1, N'Bài tập cộng trừ', N'Làm 10 bài t?p v? phép c?ng tr?', CAST(N'2025-05-20T00:00:00.000' AS DateTime), N'not_submitted')
INSERT [dbo].[Assignments] ([AssignmentId], [SubjectId], [UserId], [Title], [Description], [DueDate], [Status]) VALUES (2, 2, 1, N'Tập đọc 2 đoạn văn', N'Ghi âm và n?p l?i', CAST(N'2025-05-21T00:00:00.000' AS DateTime), N'submitted')
INSERT [dbo].[Assignments] ([AssignmentId], [SubjectId], [UserId], [Title], [Description], [DueDate], [Status]) VALUES (3, 3, 2, N'Giới thiệu bản thân', N'Vi?t đo?n văn ng?n b?ng ti?ng Anh', CAST(N'2025-05-23T00:00:00.000' AS DateTime), N'not_submitted')
SET IDENTITY_INSERT [dbo].[Assignments] OFF
GO
SET IDENTITY_INSERT [dbo].[ChatResults] ON 

SET IDENTITY_INSERT [dbo].[ChatResults] OFF
GO
SET IDENTITY_INSERT [dbo].[Lectures] ON 

INSERT [dbo].[Lectures] ([LectureId], [SubjectId], [Title], [Content], [VideoURL], [QuizId]) VALUES (1, 1, N'Phép cộng cơ bản', N'N?i dung phép c?ng cho h?c sinh l?p 1', N'video_add.mp4', NULL)
INSERT [dbo].[Lectures] ([LectureId], [SubjectId], [Title], [Content], [VideoURL], [QuizId]) VALUES (2, 2, N'Tập đọc bài thơ', N'Đ?c hi?u bài thơ thi?u nhi', N'video_read.mp4', NULL)
INSERT [dbo].[Lectures] ([LectureId], [SubjectId], [Title], [Content], [VideoURL], [QuizId]) VALUES (3, 3, N'Giới thiệu bản thân bằng tiếng Anh', N'Ng? pháp và t? v?ng cơ b?n', N'video_intro.mp4', NULL)
SET IDENTITY_INSERT [dbo].[Lectures] OFF
GO
SET IDENTITY_INSERT [dbo].[Messages] ON 

INSERT [dbo].[Messages] ([MessageId], [UserId], [Role], [Content], [SentAt]) VALUES (1, 1, N'user', N'Th?y ơi hôm nay h?c g? v?y?', CAST(N'2025-05-13T16:14:09.630' AS DateTime))
INSERT [dbo].[Messages] ([MessageId], [UserId], [Role], [Content], [SentAt]) VALUES (2, 1, N'assistant', N'Hôm nay chúng ta h?c Toán nhé!', CAST(N'2025-05-13T16:14:09.630' AS DateTime))
INSERT [dbo].[Messages] ([MessageId], [UserId], [Role], [Content], [SentAt]) VALUES (3, 2, N'user', N'Giúp em làm bài ti?ng Anh v?i!', CAST(N'2025-05-13T16:14:09.630' AS DateTime))
SET IDENTITY_INSERT [dbo].[Messages] OFF
GO
SET IDENTITY_INSERT [dbo].[Practices] ON 

INSERT [dbo].[Practices] ([PracticeId], [SubjectId], [Question], [Answer], [Explanation], [Type]) VALUES (1, 1, N'5 + 3 = ?', N'8', N'C?ng 5 v?i 3 ra 8', N'multiple_choice')
INSERT [dbo].[Practices] ([PracticeId], [SubjectId], [Question], [Answer], [Explanation], [Type]) VALUES (2, 2, N'Câu nào vi?t đúng chính t??', N'Em yêu trường em', N'Không sai chính t?', N'true_false')
INSERT [dbo].[Practices] ([PracticeId], [SubjectId], [Question], [Answer], [Explanation], [Type]) VALUES (3, 3, N'What is the plural of “child”?', N'Children', N'B?t quy t?c', N'multiple_choice')
SET IDENTITY_INSERT [dbo].[Practices] OFF
GO
SET IDENTITY_INSERT [dbo].[Subjects] ON 

INSERT [dbo].[Subjects] ([SubjectId], [Name], [Description], [Image], [Grade], [CreatedAt]) VALUES (1, N'Toán học', N'Học các phép tính, đại số, hình học', N'math.png', 1, CAST(N'2025-05-13T16:14:09.623' AS DateTime))
INSERT [dbo].[Subjects] ([SubjectId], [Name], [Description], [Image], [Grade], [CreatedAt]) VALUES (2, N'Tiếng Việt', N'Học đọc, viết, ngữ pháp tiếng Việt', N'tiengviet.png', 1, CAST(N'2025-05-13T16:14:09.623' AS DateTime))
INSERT [dbo].[Subjects] ([SubjectId], [Name], [Description], [Image], [Grade], [CreatedAt]) VALUES (3, N'Tiếng Anh', N'Học từ vựng, ngữ pháp, giao tiếp', N'english.png', 2, CAST(N'2025-05-13T16:14:09.623' AS DateTime))
SET IDENTITY_INSERT [dbo].[Subjects] OFF
GO
SET IDENTITY_INSERT [dbo].[Subscriptions] ON 

INSERT [dbo].[Subscriptions] ([SubscriptionId], [UserId], [PackageName], [Price], [StartDate], [EndDate], [Status]) VALUES (1, 1, N'Gói miễn phí', 0, CAST(N'2025-05-01T00:00:00.000' AS DateTime), CAST(N'2025-06-01T00:00:00.000' AS DateTime), N'active')
INSERT [dbo].[Subscriptions] ([SubscriptionId], [UserId], [PackageName], [Price], [StartDate], [EndDate], [Status]) VALUES (2, 2, N'Gói nâng cao', 199000, CAST(N'2025-05-10T00:00:00.000' AS DateTime), CAST(N'2025-08-10T00:00:00.000' AS DateTime), N'active')
INSERT [dbo].[Subscriptions] ([SubscriptionId], [UserId], [PackageName], [Price], [StartDate], [EndDate], [Status]) VALUES (3, 3, N'Gói thử nghiệm', 0, CAST(N'2025-05-15T00:00:00.000' AS DateTime), CAST(N'2025-05-30T00:00:00.000' AS DateTime), N'active')
SET IDENTITY_INSERT [dbo].[Subscriptions] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [Username], [Password], [Email], [Role], [Fullname], [Age], [Grade]) VALUES (1, N'hocsinh1', N'123456', N'hs1@kidseek.vn', N'Hoc_sinh', N'Nguyễn Văn A', 10, 4)
INSERT [dbo].[Users] ([UserId], [Username], [Password], [Email], [Role], [Fullname], [Age], [Grade]) VALUES (2, N'hocsinh2', N'123456', N'hs2@kidseek.vn', N'Hoc_sinh', N'Lê Thị B', 11, 5)
INSERT [dbo].[Users] ([UserId], [Username], [Password], [Email], [Role], [Fullname], [Age], [Grade]) VALUES (3, N'phuhuynh1', N'matkhau1', N'ph1@kidseek.vn', N'Phu_huynh', N'Trần Văn C', 38, 0)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[ChatResults] ADD  DEFAULT ((0)) FOR [IsGraded]
GO
ALTER TABLE [dbo].[ChatResults] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Messages] ADD  DEFAULT (getdate()) FOR [SentAt]
GO
ALTER TABLE [dbo].[Subjects] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Assignments]  WITH CHECK ADD FOREIGN KEY([SubjectId])
REFERENCES [dbo].[Subjects] ([SubjectId])
GO
ALTER TABLE [dbo].[Assignments]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Lectures]  WITH CHECK ADD FOREIGN KEY([SubjectId])
REFERENCES [dbo].[Subjects] ([SubjectId])
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Practices]  WITH CHECK ADD FOREIGN KEY([SubjectId])
REFERENCES [dbo].[Subjects] ([SubjectId])
GO
ALTER TABLE [dbo].[Subscriptions]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
USE [master]
GO
